<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center"> Welcome to GetSmarter's Parking App </h1>

<div>
	<br>
	<a style="max-width: 400px; margin: auto;" class="btn btn-primary btn-lg btn-block" href="/login"><%= "Offer Your Parking Space" %> </a> <br>
	<br>
	<a style="max-width: 400px; margin: auto;" class="btn btn-primary btn-lg btn-block" href="/choosebay"><%= "Book Your Parking Space" %> </a><br>
	<br>
	<br>
	<div align="center">
		<a class="btn btn-info btn-lg" href="/profile">Profile</a>
	</div>
</div>

