<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body align="center">
  	<br>
  	<br>
  	<br>
    <h1>Hi <%= @person.email %></h1>
    <p>
      Your Parking Code is: <br><strong><h1><%= @person.parking_code %></h1></strong> <br> You are in:<br> <strong><h1>Bay <%= @person.baycode %></h1></strong>. 
    </p>
  </body>
</html>