<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center"> You have reserved a parking space! </h1>

<p align="center"> A confirmation email will be sent to your email. Present it to the parking guard when entering the bay.  </p><br>

<div align="center">
	<a class="btn btn-primary btn-lg" href="/landing">Home</a>
</div>