<br>
<br>
<br>
<br>
<br>
<br>

<h1 align="center"> Choose your parking bay </h1>
<div>
	<br>
	<a style="max-width: 400px; margin: auto;" class="btn btn-primary btn-lg btn-block" href="/button1"><%= "Underground (#{@bay1} Available)" %> </a> <br>
	<br>
	<a style="max-width: 400px; margin: auto;" class="btn btn-primary btn-lg btn-block" href="/button2"><%= "L-Bay (#{@bay2} Available)" %> </a><br>
	<br>
	<a style="max-width: 400px; margin: auto;" class="btn btn-primary btn-lg btn-block" href="/button3"><%= "N-Bay (#{@bay3} Available)" %> </a><br>
	<br>
	<br>
</div>
<div align="center">
	<a class="btn btn-secondary btn-lg" href="/landing">Back</a>
</div>

